:host {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dice {
  perspective: 700px;
  perspective-origin: 50% 100%;
  position: relative;
}
.cube {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  &.rolling {
    transition: 400ms ease-in;
  }
  > div {
    border: 1px solid rgb(44, 44, 44);
    position: absolute;
    background: #2a2a2a;
    width: 150px;
    height: 150px;
    &:nth-child(1) {
      transform: translateZ(75px);
      background-image: url(../../../../assets/dice/dice-1.svg);
    }
    &:nth-child(2) {
      transform: rotateX(180deg) translateZ(75px);
      background-image: url(../../../../assets/dice/dice-2.svg);
    }
    &:nth-child(3) {
      transform: rotateY(90deg) translateZ(75px);
      background-image: url(../../../../assets/dice/dice-3.svg);
    }
    &:nth-child(4) {
      transform: rotateY(-90deg) translateZ(75px);
      background-image: url(../../../../assets/dice/dice-4.svg);
    }
    &:nth-child(5) {
      transform: rotateX(90deg) translateZ(75px);
      background-image: url(../../../../assets/dice/dice-5.svg);
    }
    &:nth-child(6) {
      transform: rotateX(-90deg) translateZ(75px);
      background-image: url(../../../../assets/dice/dice-6.svg);
    }
  }
}
